body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'LibreBaskerville Italic';
  font-style: normal;
  font-weight: normal;
  src: local('LibreBaskerville Italic'), url(./fonts/LibreBaskerville-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'LibreBaskerville Regular';
  font-style: normal;
  font-weight: normal;
  src: local('LibreBaskerville Regular'), url(./fonts/LibreBaskerville-Regular.ttf) format('truetype');
}
